@charset "UTF-8";

/* Layout.. */
body{       
    width: 100vw;
    height: 100vh;
    
    padding: 0;
    margin: 0;
    overflow-x: hidden; 

    font-size: 2rem;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-areas:
    'header header'
    'main aside'
    'footer footer' ;
}

header,
main,
aside,
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header,
aside,
.footer{
    background-color: black;
    color: white;
}

header{
    grid-area: header;
}

main{    
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

/* header */
.title{
    font-size: 6rem;    
    filter: blur(8px);
}

/* .title:hover{
    font-size: unset;
    filter: unset;    
    cursor: none;wait;    
} */
/* Main */
main{
    padding: 1rem;
    background-color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 1rem;
    grid-template-areas: 
    'a a a'
    'b c c'
    'b d g'
    'e f g';
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: object-fit 1s ease-out ;
}

.image:hover{
    object-fit: scale-down;
    filter: grayscale(.6);
    cursor: pointer;
}

.image1{
    grid-area: a;
}

.image2{
    grid-area: b;
}

.image3{
    grid-area: c;
}

.image4{
    grid-area: d;
}

.image5{
    grid-area: e;
}

.image6{
    grid-area: f;
}

.image7{
    grid-area: g;
}

/* aside */
.btns_til_link{
    padding: 16px;
    
    display: unset;
    transform: rotate(180deg);
    text-align: left;
}

.link_web_til{        
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.link_web_til:hover{
    color: black;
}


.btns_til_link button{        
    /* padding: 4px 16px; */
    transform: rotate(-180deg);  
    
    /* border: 3px solid #ff9d00; */
    border-radius: 3px;    
    background-color: transparent;
    cursor: pointer;
}

.btns_til_link button:hover{    
    background-color: #ff9d00;
}

/* footer */
.footer{
    position: relative;
}

.footer address .git_link{
    position: absolute;
    bottom: 50%;

    color: white;
    
    transition: bottom 1s ease .1s;
    left: 50%;
    transform: translateX(-50%);  
}

.footer address .git_link:hover{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);    
}

/* mobile */
@media (width < 450px){
    .btns_til_link button{
        margin: 0;
        transition: margin 2s ease-in-out .1s;
    }

    .link_web_til,
    .footer{
        font-size: 1rem;
        transition: font-size 2s ease-in-out .1s;
    }
}

/* web */
@media (width > 450px){
    .btns_til_link button{
        margin: 8px auto;
        transition: margin 2s ease-in-out .1s;
    }

    .link_web_til,
    .footer{
        font-size: 2rem;
        transition: font-size 2s ease-in-out .1s;
    }
}