@charset "UTF-8";

/* reset */
* {
  padding: 0;
  margin: 0;
}

a:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 0;
}
/**font: ft*/
.ft-serif {
  font-family: "Noto Serif KR", serif;
}

/* body */
.sample {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

/* header */
.sample header {
  width: 100%;
  height: 160px;

  border-bottom: 1px solid rgba(184, 184, 184, 0.6);
}

.sample .header-inner {
  width: 1080px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sample .logo-wrap {
  text-align: center;
}

.sample .logo-txt.ft-serif {
  font-weight: 300;
  color: gray;
}

/* main */
.sample .div-container {
  width: 1080px;
  /* height: calc(100vh - 260px); */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer */
.sample footer {
  width: 100%;
  height: 100px;
}

.sample .footer-inner {
  opacity: 0.6;
  width: 1080px;
  height: 100%;
  margin: 0 auto;

  font-size: 14px;
  text-align: center;
  color: grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sample .footer-inner span::after {
  content: " | ";
}

.sample .footer-inner .ft-terms {
  padding: 0 2px;

  border: 1px solid rgba(184, 184, 184, 0.6);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline;
}
